#### Name: Fardeen Feroz Khan
#### Reg no: 21BAI1193 (VIT Chennai)

## Assignment - 1

**Imports**

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Task 1: Create a DataFrame with random values
data = np.random.randn(4, 4)  # Generating random values (4x4)
df = pd.DataFrame(data)
df

          0         1         2         3
0  1.117419  1.258965 -0.652429  0.039912
1  0.183079 -0.814224 -0.910381  1.719781
2 -1.804455  0.339281  1.158833  1.476449
3  0.229599  0.266427  0.558744  0.679641

In [6]:
# Task 2: Rename the DataFrame columns
df.columns = ['Random value 1', 'Random value 2', 
              'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        1.117419        1.258965       -0.652429        0.039912
1        0.183079       -0.814224       -0.910381        1.719781
2       -1.804455        0.339281        1.158833        1.476449
3        0.229599        0.266427        0.558744        0.679641

In [7]:
# Task 3: Find descriptive statistics
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.068589        0.262612        0.038692        0.978946
std          1.234517        0.848172        0.983795        0.767618
min         -1.804455       -0.814224       -0.910381        0.039912
25%         -0.313804       -0.003736       -0.716917        0.519709
50%          0.206339        0.302854       -0.046842        1.078045
75%          0.451554        0.569202        0.708766        1.537282
max          1.117419        1.258965        1.158833        1.719781

In [9]:
# Task 4: Check for null values and data types
null_values = df.isnull().sum()
data_types = df.dtypes

print("No of null values:")
print(null_values)
print("\nData types of columns:")
print(data_types)

No of null values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data types of columns:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [15]:
# Task 5: Display columns using location methods
random_val2 = df['Random value 2']
random_val3 = df['Random value 3']

# Displaying columns using index location method
random_val2_loc = df.iloc[:, 1]  # Column 'random value 2'
random_val3_loc = df.iloc[:, 2]  # Column 'random value 3'

print("Using location method:\n")
print(random_val2)
print(random_val3)

print("\nUsing index location method:\n")
print(random_val2_loc)
print(random_val3_loc)

Using location method:

0    1.258965
1   -0.814224
2    0.339281
3    0.266427
Name: Random value 2, dtype: float64
0   -0.652429
1   -0.910381
2    1.158833
3    0.558744
Name: Random value 3, dtype: float64

Using index location method:

0    1.258965
1   -0.814224
2    0.339281
3    0.266427
Name: Random value 2, dtype: float64
0   -0.652429
1   -0.910381
2    1.158833
3    0.558744
Name: Random value 3, dtype: float64